* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.brand-bar {
    height: 60px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
}


input[type=text] {
    padding: 6px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 17px;
    border: 1px solid grey;
  }

  button .fa-search { 
    margin: auto;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
  }

  #logo h2 {
      text-align: center;
      margin-top: 15px;
  }

  .fa-cart-plus {
    font-size: 30px;
    margin-top: 15px;
    margin-right: 30px;
    float: right;
  }

