* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.brand-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

#logo {
    margin-left: 19rem;
    text-align: center;
}

/* Account */
#account {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
}

#account a {
    text-decoration: none;
    color: black;
}

#account a:hover {
    color: grey;
}

#account-mobile {
    display: none;
}

/* Cart */

#cart {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 70px;
    cursor: pointer;
}

#cart a {
    text-decoration: none;
    color: black;
}

#cart a:hover {
    color: grey;
}


/* NAVBAR */

.navbar {
    background-color: #363636;
}

ul.navbar-nav {
    margin: 0 auto;
}

ul li a {
    color: white;
    margin-right: 20px;
}

ul li a:hover {
    color: #B3B3B3;
}

/*  SALES CARDS  */

.row {
    margin-top: 5rem;
}

.stock-photo {
    width: 100%;
}

.item-name {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.card-text {
    text-align: justify;
}

.price {
    float: left;
    margin-top: 7px;
}

.btn {
    float: right;
}

.rows {
    margin-top: 25px;
}

/* FOOTER */

#menu {
    margin-top: 30px;
}

.form-group {
    margin-top: 10px;
}

.form-control {
    width: 350px;
}

.social {
    margin: 30px auto;
}

.fab {
    margin-right: 15px;
}

#about {
    margin-top: 30px;
}

#about-text {
    text-align: justify;
}


/* Copyright footer */

hr { 
    display: block;
    margin-top: 3rem auto 0.5em auto;
    border-style: inset;
    border-width: 1px;
} 

#footer-copy {
    text-align: center;
    margin-top: 30px;
}

.btn-dark {
    margin: 0 5rem;
}

/* ABOUT US PAGE */

section#menu a {
    text-decoration: none;
    color: black;
}

section#menu a:hover {
    color: grey;
}


.page-title {
    margin-top: 40px;
    text-align: center;
}

#about-us-image {
    width: 100%;
    margin-top: 40px;
}

.about-text {
    text-align: justify;
}

#about-content {
    margin-top: 40px;
}


/* CONTACT US page */

.form-container {
    margin-top: 40px;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    width: 70%;
    margin: 0 auto;
    }
    
    .form-control {
        width: 100%;
    }

    .contact-btn {
        width: 100%;
        margin: 0 auto;
    }



/* **************************************  */

/* MEDIA QUERIES */

/* Mobile */

/* @media(max-width: 667px) {
    #account {
        display: none;
    }
    .brand-bar {
        display: block;
        grid-template-columns: 20%;
        width: 100%;
    }
    .navbar {
        margin-top: 130px;
    }
    #shopping-section {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
    #account-mobile {
        display: block;
        font-size: 30px;
        margin-top: 27px;
        margin-left: 60px;
        cursor: pointer;
        text-align: center;
    }
    #account-mobile a {
        text-decoration: none;
        color: black;
    }
    #account-mobile a:hover {
        color: grey;
    }
    #cart {
        font-size: 30px;
        margin-top: 10px;
        margin-right: 60px;
        cursor: pointer;
        text-align: center;
    }
    #cart a {
        text-decoration: none;
        color: black;
    }
    #cart a:hover {
        color: grey;
    }
}

/*  TABLET  */

/* @media(max-width: 1000px) {
    #account {
        display: none;
    }
    .brand-bar {
        display: block;
        width: 100%;
        padding-top: 20px;
    }
    .navbar {
        margin-top: 130px;
    }
    #shopping-section {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
    #account-mobile {
        display: block;
        font-size: 30px;
        margin-top: 27px;
        margin-left: 100px;
        cursor: pointer;
        text-align: center;
    }
    #account-mobile a {
        text-decoration: none;
        color: black;
    }
    #account-mobile a:hover {
        color: grey;
    }
    #cart {
        font-size: 30px;
        margin-top: 10px;
        margin-right: 170px;
        cursor: pointer;
        text-align: center;
    }
    #cart a {
        text-decoration: none;
        color: black;
    }
    #cart a:hover {
        color: grey;
    }
}  */